@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
 
:root {
    --pale-blue:hsl(245, 32%, 86%);
    --grayishBlue:hsl(229, 7%, 55%);
    --darkBlue:hsl(228, 56%, 26%);
    --veryDarkblue:hsl(229, 57%, 11%);
 }

 body {
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    /* background-position-y: bottom; */
    background-attachment: fixed;
    background-size: cover;
    /* CENTER ITEMS? */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    margin-bottom: 130px;
}

.main-container {
    max-width:375px;
    margin-left: 20px;
    margin-right: 20px;
}

.img-container {
    background-color: var(--darkBlue);
    padding: 40px;
    border-radius: 12px 100px 12px 12px;
}

.info-container {
    background-color: var(--darkBlue);
    color: white;
    padding:30px;
    padding-top:20px;
    margin-top:20px;
    padding-bottom:20px;
    border-radius: 12px 12px 12px 12px;
    position:relative;
    font-family: 'Raleway', sans-serif;
}

.gb-left {
    background: rgb(255, 255, 255);
    color: rgb(16, 14, 32);
    padding: 12px 20px 12px 20px;
    text-align: center;
    position:absolute;
    border-radius: 12px;
}

.card {
    padding-top:12px;
    display: flex;
    justify-content: center;
}

.card-text {
    font-weight: bold;
    font-size: 35px;
    display: flex;
    align-items: center;
}

.card-text-next{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color:var(--grayishBlue);
    padding-left:15px;
    
}

.description {
    padding-left:15px;
    padding-right:15px;
    font-size: 14px;
    color: var(--pale-blue);
    padding-bottom:5px;
}

.gb {
    font-weight: bold;
}

.slider {
    width:100%;
}

.icons{
    display:flex;
    align-items: center;
    margin-top: 25px;
}

.icon {
    padding: 6px;
    border-radius: 11px 11px 11px 11px;
    background-color: var(--veryDarkblue);
    margin-right: 14px;
}

.icon1 {
    padding: 10px 13px 7px 13px;
}

.icon2 {
    padding: 12px 12px 9px 10px;
}

.icon3 {
    padding: 14px 13px 11px 12px;
}

.border {
    width:270px;
    height:19px;
    border-radius:10px;
    background-color: var(--veryDarkblue);
}
  
.bola {
    height:9px;
    width:9px;
    background-color:white;
    position:absolute;
    border-radius:10px;
    margin-left:183px;
    margin-top:1.5px;
}
  
.gradient {
    /*   background-color:green; */
    position:absolute;
    border-radius:10px;
    height:13px;
    width:195px;
    margin:3px;
    background: #ffa399; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffa399 0%, #ff4d97 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffa399 0%,#ff4d97 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffa399 0%,#ff4d97 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa399', endColorstr='#ff4d97',GradientType=1 ); /* IE6-9 */
  }

  .info-data {
    display: flex;
    justify-content: space-between;
    margin-top:12px;
    margin-bottom:12px;
    font-size: 14px;
    color: var(--pale-blue);
    font-weight: bold;
  }
  