@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
 
:root {
    --pale-blue:hsl(243, 100%, 93%);
    --grayishBlue:hsl(229, 7%, 55%);
    --darkBlue:hsl(228, 56%, 26%);
    --veryDarkblue:hsl(229, 57%, 11%);
 }

 body {
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    /* background-position-y: bottom; */
    background-attachment: fixed;
    background-size: cover;
    /* CENTER ITEMS? */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    margin-bottom: 130px;
}

.main-container {
    max-width:375px;
}

.img-container {
    background-color: var(--darkBlue);
    padding: 40px;
    margin:20px;
    border-radius: 12px 100px 12px 12px;
}

.info-container {
    background-color: var(--darkBlue);
    color: white;
    padding:30px;
    padding-top:20px;
    padding-bottom:20px;
    margin:20px;
    border-radius: 12px 12px 12px 12px;
    position:relative;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
}

.gb-left {
    background: rgb(255, 255, 255);
    color: rgb(16, 14, 32);
    padding: 10px;
    text-align: center;
    position:absolute;
}

.slider {
    width:100%;
}

.icons{
    display:flex;
    align-items: center;
    margin-top: 25px;
}


.icon {
    padding: 6px;
    border-radius: 11px 11px 11px 11px;
    background-color: var(--veryDarkblue);
    margin-right: 14px;
}

.icon1 {
    padding: 10px 13px 7px 13px;
}

.icon2 {
    padding: 12px 12px 9px 10px;
}

.icon3 {
    padding: 14px 13px 11px 12px;
}